<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	    
	<!-- DBCP有着比C3P0更高的效率，但是实际应用中，DBCP可能出现丢失 连接的可能，而C3P0稳定性较高。因此在实际应用中,C3P0使用较为广泛。 -->
	 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
				  destroy-method="close" 
				  p:driverClass="com.mysql.jdbc.Driver"
				  p:jdbcUrl="jdbc:mysql://localhost:3306/pmsys?useUnicode=true&amp;characterEncoding=utf8" 
				  p:user="root"
				  p:password="Myoa_888"
				  p:acquireIncrement="10" 
				  p:idleConnectionTestPeriod="120" 
				  p:maxPoolSize="20"
				  p:maxStatements="200" 
				  p:minPoolSize="1" />	
				  
	<!-- replace above bean with this if u want to use a server datasource
	<bean id="fullstackspringhibernate-dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/<your_ds_name>"/>
	</bean>	
 	-->
</beans>